.content {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  border-radius: .4rem;
  background-color: white;
  transition: all 0.3s;
  opacity: 0;
  transform: translateX(-20px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}